<h1>Titulares</h1>

<select name="" [(ngModel)]="pais" (change)=ngOnChanges()>
    <option value="mx">México</option>
    <option value="us">USA</option>
    <option value="jp">Japón</option>
</select>

<div id="news-container"  class="grid">
    <div class="xs-100 md-50 lg-25"  *ngFor="let item of news">
        <a href="{{item.url}}">
            <h3>{{item.title}}</h3>
            <img src="{{item.urlToImage || 'https://bitsofco.de/content/images/2018/12/broken-1.png'}}" alt="">
        </a>
    </div>
</div>