<h1>Noticias</h1>

<form (submit)="doSearch()">
    <select name="fuente" [(ngModel)]="fuente">
        <option value="">Fuente no especificada</option>
        <option *ngFor="let item of sources" value="{{item.id}}">{{item.name}}</option>
    </select>
    <input name ="Buscar" type="text" [(ngModel)]="busqueda" placeholder="Buscar ... ">
    <button>Buscar</button>
</form>

<div *ngIf="news.length==0">
    <p>No hay elementos para mostar </p> 
</div>

<div id="news-container"  class="grid">
    <div class="xs-100 md-50 lg-25"  *ngFor="let item of news">
        <a href="{{item.url}}">
            <h3>{{item.title}}</h3>
            <img src="{{item.urlToImage || 'https://bitsofco.de/content/images/2018/12/broken-1.png'}}" alt="">
        </a>
    </div>
</div>